{{ partial "head.html" . }}
{{ partial "header.html" . }}


<!-- HERO starts -->
<section class="hero is-info is-bold is-small">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{ .Title }}
      </h1>
    </div>
  </div>
</section>
<!-- HERO ends -->


<!-- main body starts--> 
<section class="content container">
  <!-- main body starts -->
  {{if .Params.image}}
  <div class="container featured-img" style="background-image: url('{{ .Params.image }}');">
  </div>
  {{end}}

  <div class="mt-6">
    {{ .Content }}

  </div> <!-- main body container ends -->

</section> <!-- main body section ends -->

{{ partial "footer.html" . }}