<footer class="footer">
    <div class="content container">
      <div class="columns">
        <!-- footer Column 4 starts -->
      <div class="column is-one-fifth">

      </div><!-- footer Column 4 ends -->
        <!-- footer Column 1 starts -->
        <div class="column is-one-fifth">
          <h3>Important Links:</h3>
          <ul>
            <li>
              <a href="#">
                University Website
              </a>
            </li>

            <li>
              <a href="#">
                Result Portal
              </a>
            </li>
            <li>
              <a href="#">
                Privacy Polices
              </a>
            </li>

            <li>
              <a href="#">
                Terms
              </a>
            </li>
          </ul>
        </div><!-- footer Column 1 ends -->

        <!-- footer Column 2 starts -->
        <div class="column">
          <h3>Contact Us:</h3>
          <div class="columns">
            <div class="column">
              {{ range .Site.Params.addressLines}}
                {{ . }},<br/>
              {{ end }}
            </div>
            <div class="column">
              {{ range .Site.Params.telephones}}
                {{range .}}
                {{ . }}
                {{ end}}<br/>
              {{ end }}
             <br />
              {{ range .Site.Params.emails}}
              <a href="mailto:{{ index . 0 }}">{{ index . 0 }}</a>{{ with index . 1}} {{ . }}{{end}}<br/>
              {{ end }}
            </div>
          </div>
          
         
        </div>
      </div><!-- footer Column 2 ends -->

      
<hr/>
      <div class="has-text-centered">
        <p>
          Copyright &copy; {{ now.Format "2006"}} {{ .Site.Params.instituteName }}{{ with .Site.Params.universityName }}, {{.}}{{end}}. All right Reserved
        </p>
        <!-- the credits below should not be removed or eddited, Thanks :) -->
        <p>
          <strong>University Institute Theme</strong> by <a href="https://github.com/ChiragSukhala">Chirag Sukhala</a>. The source
          code
          is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
        </p>
        <!-- the credits above should not be removed or eddited, Thanks :) -->
      </div>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <script>
    $(document).ready(function () {

      // Check for click events on the navbar burger icon
      $(".navbar-burger").click(function () {

        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
        $(".navbar-burger").toggleClass("is-active");
        $(".navbar-menu").toggleClass("is-active");

      });
    });
  </script>
  <script>
    $(document).ready(function () {
      $(".owl-carousel").owlCarousel({
        loop: true,
        items: 1,
        margin: 10,
        nav: false,
        dots: false,
        // lazyLoad:true,
        autoplay: true,
        autoplayHoverPause: true,
        autoplayTimeout: 5000,
        animateOut: 'fadeOut'
      });
    });
  </script>
</body>

</html>
