<body>
  <!-- Top navigation starts -->
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <div id="logo-area">
          <a class="logo navbar-item" href="{{ .Site.BaseURL }}">
            <img src="{{ .Site.BaseURL }}logo.png" class="logo" />
            

            <div class="logo-text">
              <span class="logo-text-college">University Institute of Engineering &amp; Technology</span>
              <!--  <sup>AICTE
                Approved</sup> --><br />
              <span class="logo-text-university">Chira International University</span> <sup>(Accredited 'A++' by
                You)</sup><br />
              (A State University established under Some Act No. XXV of 1998)<br />
            </div>
          </a>
        </div>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
          data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    </div>
    <div class="container">
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="{{ .Site.BaseURL }}index.html">
            Home
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              About
            </a>

            <div class="navbar-dropdown">
              <a href="page.html" class="navbar-item">
                About U.I.E.T.
              </a>
              <a href="page.html" class="navbar-item">
                Director's Message
              </a>
              <a href="page.html" class="navbar-item">
                V.C.'s Message
              </a>
              <a href="page.html" class="navbar-item">
                T.P.O.'s Message
              </a>
              <hr class="navbar-divider">
              <a href="page.html" class="navbar-item">
                About This Site
              </a>
            </div>
          </div>

          <a class="navbar-item">
            Admissions
          </a>


          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              People
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item">
                Officers
              </a>
              <a class="navbar-item">
                Faculty
              </a>
              <a class="navbar-item">
                Students
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                Select By Dept./Office
              </a>
            </div>
          </div>

          <a href="page.html" class="navbar-item">
            Contact Us
          </a>

        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="Search">
              <span class="icon is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <!-- <hr class="navbar-divider"> -->

  <!-- Top navigation ends -->