<body>
  <!-- Top navigation starts -->
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <div id="logo-area">
          <a class="logo navbar-item" href="{{ .Site.BaseURL }}">
            <img src="{{ .Site.BaseURL }}{{ .Site.Params.logoImg }}" class="logo" />
            

            <div class="logo-text">
              <span class="logo-text-college">{{ .Site.Params.instituteName }}</span>
              {{ with .Site.Params.instituteAccredationSuperText}}
               <sup>{{ . }}</sup>
               {{ end }}
               {{ with .Site.Params.universityName }}
                <br />
                <span class="logo-text-university">{{ . }}</span>
                {{ with $.Site.Params.universityAccredationSuperText}}
                   <sup>{{ . }}</sup>
                {{end}}
                {{ with $.Site.Params.universityUnderText}}
                <br />
                {{ . }}
                {{ end }}
              {{ end }}
            </div>
          </a>
        </div>  

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
          data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    </div>
    
    <!--Customisable Navbar-->
    <div class="container">
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
              {{ range .Site.Menus.main }}
                {{ if .HasChildren }}
                <div class="navbar-item has-dropdown is-hoverable">
                  <a href="{{ .URL | relLangURL }}" class="navbar-link">{{ .Name }} 
                    </a>
                  <div class="navbar-dropdown">
                    {{ range .Children }}
                    <a href="{{ .URL | relLangURL }}" class="navbar-item">{{ .Name }}</a>
                    {{ end }}
                  </div>
                </div>
                {{ else }}
                <a class="navbar-item"  href="{{ .URL | relLangURL }}">{{ .Name }}</a>
                {{ end }}
              {{ end }}
          </div>
          <!--Navbar end-->
          
        <div class="navbar-end">
          <div class="navbar-item">
            <p class="control has-icons-left">
              <input class="input" type="text" placeholder="Search">
              <span class="icon is-left">
                <i class="fas fa-search" aria-hidden="true"></i>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>


  <!-- <hr class="navbar-divider"> -->

  <!-- Top navigation ends -->

       
